

/* Navbar Base */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  position: sticky;
  top: 0;
  left: 0;
  right: 0;

  padding: 1rem 1rem;
  background-color: rgba(0, 0, 0, 0.95); 
  backdrop-filter: blur(10px);
  color: var(--neutral-bg-light);
  
  z-index: 1000;
  box-shadow: var(--shadow-glow);
}


.navbar-logo img {
  height: 40px;
  margin-left: 2rem;
  filter: brightness(0) saturate(100%) invert(84%) sepia(62%) saturate(748%) hue-rotate(2deg) brightness(103%) contrast(101%);
}


.navbar-links {
  display: flex;
  list-style: none;
  gap: 2rem;
  padding: 0.5rem 2rem;
  border-radius: 1.5rem;
  background: rgba(255, 255, 255, 0.151);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}

.nav-item {
  position: relative;
}

.nav-link {
  text-decoration: none;
  color:  rgb(255, 255, 255);
  font-size: 0.8rem;
  font-weight: 500;
  transition: color 0.3s ease;
}

.nav-link {
  position: relative;
}

.nav-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 0%;
  height: 2px;
  background: var(--brand-secondary);
  transition: width 0.3s ease;
}

.nav-link:hover::after {
  width: 100%;
}


/* Dropdown for desktop */
.dropdown {
  display: none;
  position: absolute;

  background: var(--brand-primary);
  list-style: none;
  padding: 0.5rem 0;
  top: 100%;
  left: 0;
  box-shadow: var(--shadow-glow);
}
.active{
  color: var(--brand-secondary);
}
.dropdown li {
  padding: 0.5rem 1rem;
}

.dropdown li:hover {
  box-shadow: var(--shadow-glow); 
}

.nav-item:hover .dropdown {
  display: block;
}

/* Mobile Menu Button */
.menu-btn {
  background: none;
  border: none;
  color: var(--neutral-bg-light);
  display: none;
}

/* Mobile Menu - dropdown from top */
.mobile-menu {
  position: fixed;
  top: 70px;
  left: 0;
  width: 100%;
  background-color: var(--brand-primary);
  color: var(--neutral-bg-light);
  padding: 1rem;
  z-index: 1500;
  border-top: 1px solid var(--brand-secondary);
}

.mobile-menu.open {
  display: block;
}

.mobile-menu ul {
  list-style: none;
  padding: 0;
}

.mobile-menu li {
  margin-bottom: 1rem;
}

.mobile-submenu {
  padding-left: 1rem;
}

.mobile-submenu li {
  font-size: 0.9rem;
}

.close-btn {
  display: none;
}

/* Overlay */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1400;
  transition: opacity 0.3s ease-in-out;
}

/* Responsive */
@media (max-width: 768px) {
  .navbar-links {
    display: none;
  }
  .menu-btn {
    display: block;
  }
}
